.main-section {
    /* background-color: #f1f2f4;   */
    border-radius: 100px;
    padding: 12px 24px; 
  
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  .section-tagline {
    /* Styles */
    align-content: flex-start;
    align-items: flex-start;
    background-color: var(--token-e3d8aeb2-4bb0-430b-9ecd-1d8237f4c0c1, #f1f2f4);
    border-radius: 10px;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    height: min-content;
    justify-content: flex-start;
    overflow: visible;
    padding: 12px 24px;
    position: relative;
    /* width: 25%; */
  }
  
  .section-heading {
    font-size: 32px;
    font-weight: 800;
    text-align: center; 
  }
  .hero_tagline{
    align-content: flex-start;
    align-items: flex-start;
    background-color: var(--token-59f436f8-7d9c-49c9-a364-cd324ad458f6, #fee9cb);
    border-radius: 100px;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    height: min-content;
    justify-content: flex-start;
    overflow: visible;
    padding: 12px 24px;
    position: relative;
    width: min-content;
  }